.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; 
}

/* 5. The Story Cards */
.box {
    width: 100%;
    aspect-ratio: 4 / 3; 
    border-radius: 12px;
    background-color: #ffffff9f;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05); 
    padding: 30px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    cursor:pointer;
}

/* 6. Typography Inside the Cards */
.box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.box h4 {
    margin-top: 0;
    color: #363535;
    font-weight: 400;
    line-height: 1.5;
    flex-grow: 1; 
}

.box a {
    text-decoration: none;
    color: #030303;
    font-weight: 600;
    font-size: 14px;
    align-self: flex-start;
}

.box a:hover {
    text-decoration: underline;
}