{% extends "folk/master.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'folk/home.css' %}">
<div class="box-container">
   {% for story in stories %}
   <a href="{% url 'view_story' story.id %}" class="read-more">
    <div class="box">
    <h2 class="story-title">{{ story.title }}</h2>
    <p class="story-excerpt">{{ story.content|truncatewords:20 }}</p>
    <p class="narrator"> Told by {{ story.narrator }}</p>

    {% if story.audio_recording %}
    <div class="audio-badge">
        <span>Audio Available</span>
    </div>
    {% endif %}
   </div>
   </a>
   
   {% empty %}
        <p>This archive is currently empty. Be the first to share a tale </p>
   {% endfor %}
</div>
    
{% endblock %}