<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ishlogh</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'folk/master.css' %}">
    </head>
    <body>
    <div id="topbar">
    <div id="logo">
        <h1><a href="{% url 'home' %}">Ishlogh</a></h1>
    </div>
    <div id="buttons">
        <a href="{% url 'upload' %}" class="button">Upload</a>
        <a href="{% url 'about' %}" class="button">About</a>
        <a href="{% url 'login' %}" class="button">Login</a>
        
    </div>
</div>
        {% block body %}
        {% endblock %}
    </body>
</html>